<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>About What??</title>
</head>
<body>
    {{>header}}
    <p>This Site is created by Anoop Sivadas.It uses data from mapbox.com and Weatherstack.com!</p>
    <img src="Crop one.jpg"  style="width:128px;height:128px;">
    <h1>{{greet}} {{name}}</h1>
    <h2>{{title}}</h2>
    <h2>{{company}}</h2>
    {{>footer}}
    
</body>
</html>