<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Helping Hands</title>
</head>
<body>
    {{>header}}
    <h1>Help is on the way!!!</h1>
    <img src="helping-hands.jpg" style="width:128px;height:128px;"> 
    <h2>{{ message}}</h2>

    {{>footer}}
</body>
</html>
