 <div class="header">
  <h1>THICK & THIN WEATHER STATION</h1>
  <p>Telling it in a Nicer Way!</p>
  <a href="/">Home</a>
  <a href="/weather">Weather</a>
  <a href="/About">About</a>
  <a href="/help">Help</a>
</div>
  